@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

:is(a, button):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button):focus:not(:focus-visible) {
  outline: none;
}

/* Outline-offset by Adam Argyle: https://codepen.io/argyleink/pen/JjEzeLp */

@media (prefers-reduced-motion: no-preference) {
  :hover,
  :focus {
    transition: outline-offset 0.25s ease;
  }
}

/* Skip link */

.visually-hidden {
  background: var(--black);
  color: var(--white);
  left: var(--space-xs);
  padding: var(--space-xs);
  position: absolute;
  text-align: center;
  top: var(--space-xs);
  z-index: 2;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background: var(--white);
  color: var(--black);
}

section {
  padding: 0 var(--space-xs);
}

.container {
  margin: 0 auto;
  max-width: var(--large);
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: calc(var(--step-4));
}

h3 {
  font-size: calc(var(--step-3));
}

a,
p,
input,
label,
textarea,
button {
  font-family: "Atkinson Hyperlegible", Verdana, sans-serif;
  font-size: var(--step-1);
}

ul {
  font-family: "Atkinson Hyperlegible", Verdana, sans-serif;
}

mark {
  background: var(--black);
  color: var(--white);
}

hr {
  border: none;
  border-bottom: 2px solid var(--black);
  max-width: var(--extra-small);
  margin: 0 auto;
}

.dont-show {
  display: none;
}
