---
import Layout from "../layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import Work from "@components/Work.astro";
import AboutMe from "@components/AboutMe.astro";
import Services from "@components/Services.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="Trve Peak Studio - Producing, recording, editing, mixing and mastering"
>
  <header>
    <a class="visually-hidden" href="#main">Skip to main content</a>
    <Intro />
  </header>
  <main id="main">
    <Work />
    <AboutMe />
    <Services />
  </main>
  <Footer />
</Layout>
