---
import Layout from "../layouts/Layout.astro";

import Navigation from "../components/Navigation.astro";
import Intro from "../components/Intro.astro";
import Work from "../components/Work.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
---

<Layout title="Trve Peak Studio - Recording, editing & mixing">
  <a class="visually-hidden" href="#main">Skip to main content</a>
  <Navigation />
  <Intro />
  <main id="main">
    <Work />
    <Services />
    <Contact />
  </main>
  <Footer />
  <BackToTop />
</Layout>

<style lang="scss">
  .visually-hidden {
    background: #00ffd4;
    color: black;
    left: var(--space-xs);
    padding: var(--space-xs);
    position: absolute;
    text-align: center;
    top: var(--space-xs);
    z-index: 2;
  }

  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
