---
import BackToTop from "@components/BackToTop.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; {currentYear} Trve Peak Studio. All rights reserved.</p>
  <BackToTop />
</footer>

<style>
  footer {
    background: var(--black);
    color: var(--white);
    padding: var(--space-m);
    text-align: center;
  }

  p {
    font-size: var(--step-0);
  }
</style>
