---
import BackToTop from "@components/BackToTop.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; {currentYear} Trve Peak Studio. All rights reserved.</p>
  <BackToTop />
</footer>

<style>
  footer {
    background: light-dark(var(--black), var(--white));
    color: light-dark(var(--white), var(--black));
    padding: var(--space-m);
    text-align: center;
  }

  p {
    font-size: var(--step-0);
  }
</style>
