<footer>
  <p>
    Coded with love by Steve Frenzel. Yes, I am also a web developer, check out
    my other website: <a href="https://stevefrenzel.dev/">stevefrenzel.dev</a>
  </p>
</footer>

<style>
  footer {
    background: black;
    color: white;
    padding: var(--space-m);
    text-align: center;
  }

  a,
  p {
    font-size: var(--step-0);
  }

  a {
    color: white;
  }
</style>
