---
import { Image } from "astro:assets";
import logo from "@images/logo-full.svg";
---

<section aria-label="Intro" id="start">
  <div class="container">
    <h1 class="sr-only">Trve Peak Studio</h1>
    <Image
      alt="True Peak Studio logo"
      height={logo.height}
      loading="eager"
      src={logo}
      width={logo.width}
    />
    <h1>TRVE PEAK STUDIO</h1>
    <p>
      Recording, mixing, mastering, editing &amp; producing made in Germany. Get
      in touch via <a
        href="mailto:info@trvepeak.studio"
        rel="noopener noreferrer">e-mail</a
      > or <a
        rel="me noopener noreferrer"
        href="https://mastodon.social/@trvepeakstudio">Mastodon</a
      >.
    </p>
  </div>
</section>

<style>
  section {
    padding-top: var(--space-xs);
  }

  p {
    margin: var(--space-xs) auto 0 auto;
    max-width: 60ch;
  }

  a,
  p {
    font-size: 2rem;
  }

  img {
    margin: var(--space-2xl) auto;
  }

  @media (prefers-color-scheme: dark) {
    img {
      filter: invert(1);
    }
  }
</style>
