---
import { Image } from "astro:assets";
import logoFull from "@images/logo-full.svg";
---

<header>
  <nav>
    <ul role="list">
      <div class="left">
        <li>
          <a href="#start">
            <Image alt="Start" src={logoFull} height={48} tabindex="-1" />
          </a>
        </li>
      </div>
      <div class="right">
        <li><a href="#work">Work</a></li>
        <span aria-hidden="true">•</span>
        <li><a href="#services">Services</a></li>
        <span aria-hidden="true">•</span>
        <li><a href="#contact">Contact</a></li>
      </div>
    </ul>
  </nav>
</header>

<style style="scss">
  nav {
    background: white;
    box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 1);
    color: black;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1536px;
    padding: var(--space-2xs) var(--space-xs);
  }

  .right {
    display: flex;
    gap: var(--space-xs);
  }

  span {
    align-items: center;
    display: flex;
  }

  a {
    font-family: "Roboto Slab";
    font-size: var(--step-1);
    text-decoration: none;
  }
</style>
