---
export interface Props {
  ariaLabel: string;
  color?: string;
  href: string;
  title: string;
}

const { ariaLabel, color, href, title } = Astro.props;
---

<div class="section-header">
  <h2 set:html={title} />
  <a aria-label={ariaLabel} href={href}>#</a>
</div>

<style define:vars={{ color }}>
  div {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    margin-bottom: var(--space-3xs);
  }

  a {
    color: var(--color);
    font-size: var(--step-2);
    font-family: "Roboto Slab";
  }
</style>
